<div class="mt-2 d-flex justify-content-between">
  <button mat-button color="warn" (click)="logoutAndGoBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <a>
    <img
      src="https://d27i7n2isjbnbi.cloudfront.net/careers/photos/251160/thumb_photo_1638991377.png"
      data-test="getting-started-logo"
      class="main-started-logo mt-2"
      alt="zivver_logo_white"/>
  </a>
</div>
<ng-container *ngIf="isUserLoading">
  <div [appSpinnerLoader]="isUserLoading" class="loader-height"></div>
</ng-container>
<div class="ms-md-5 mt-3">
  <div class="row ms-4">
    <ng-container *ngFor="let user of(users|async); trackBy: trackByFn; index as i">
      <div class="col-md-12 col-lg-1">
        <app-card [user]="user"></app-card>
      </div>
      <div class="col-sm-0 col-md-2" *ngIf="cardPadding(i)"></div>
    </ng-container>
  </div>
</div>
