<main class="bg-getting-started">
  <div class="container-fluid">
    <div data-test="getting-started-header">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-5 text-center">
          <a>
            <img
              src="https://d27i7n2isjbnbi.cloudfront.net/careers/photos/251160/thumb_photo_1638991377.png"
              data-test="getting-started-logo"
              class="getting-started-logo my-5"
              alt="zivver_logo_white" />
          </a>

          <label class="mobile-show logo-text mb-5">EFFORTLESS, SMART, SECURE COMMUNICATIONS</label>
        </div>
      </div>
    </div>

    <div data-test="getting-started-body">
      <div class="row d-flex align-items-center justify-content-center">
        <div
          class="col-sm-12 col-md-8 col-lg-5 d-flex align-items-center justify-content-center bg-getting-started-boxes">
          <div class="text-center">
            <h1>Show all Users</h1>
            <h3>Clicking the button below will navigate to system users.</h3>
            <button mat-raised-button color="accent" aria-label="Lets start" (click)="start()">Start!</button>
          </div>
        </div>
      </div>
    </div>

    <div data-test="getting-started-footer">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6 text-center p-0">
          <h5 class="text-bottom">
            By starting Ziver Cards app, you agree that you have read and understood our
            <a>Terms and Conditions</a>. Refer to our <a>Privacy Policy</a> for details how your information is
            processed.
          </h5>
        </div>
      </div>
    </div>
  </div>
</main>
