<div class="ms-lg-5 d-flex justify-content-center">
  <div #card class="custom-card-wrap ms-lg-5">
    <div class="custom-card"
         [ngStyle]="cardStyle()">
      <div class="custom-card-bg" [ngStyle]="cardBgTransform()">
        <div>
          <img class="custom-card-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
          <div class="text-center">
            <p>Wahaj Khan</p>
            <span matBadge="4" matBadgeColor="primary" matBadgeOverlap="false">Id</span><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
