@use 'colors' as *;

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
:host {
  display: flex;
}

.custom-card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
  width: 240px;

  &:hover {
    .card-info {
      transform: translateY(0);
    }

    .card-info p {
      opacity: 1;
    }

    .card-info,
    .card-info p {
      transition: 0.6s $hoverEasing;
    }

    .card-info:after {
      transition: 5s $hoverEasing;
      opacity: 1;
      transform: translateY(0);
    }

    .custom-card-bg {
      transition: 0.6s $hoverEasing, opacity 5s $hoverEasing;
      opacity: 0.8;
    }

    .custom-card {
      transition: 0.6s $hoverEasing, box-shadow 2s $hoverEasing;
      box-shadow: rgba($color-white, 0.2) 0 0 40px 5px, rgba(#ff4f81, 1) 0 0 0 1px,
        rgba($color-dark-blue, 0.66) 0 30px 30px 0, none, none;
    }
  }
}

.custom-card {
  // position: relative;
  flex: 0 0 240px;
  width: 6rem;
  height: 13rem;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(black, 0.66) 0 30px 30px 0, inset #424242 0 0 0 0, inset rgba(#ff4f81, 0.5) 0 0 0 0;
  transition: 1s $returnEasing;
}

.custom-card-bg {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 1s $returnEasing, opacity 5s 1s $returnEasing;
  pointer-events: none;
  vertical-align: middle;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.custom-card-img {
  width: 140px;
  margin: -22px 0 6px 0px;
}

.custom-title-label {
  white-space: nowrap;
  width: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 26px;
}

@media only screen and (max-width: 992px) {
  .custom-card {
    height: 28rem;
    width: 100%;
  }
  .custom-card-img {
    width: 377px;
    margin: -110px 0 6px 0px;
  }

  .custom-title-label {
    white-space: nowrap;
    width: 216px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 86px;
  }
}
