@use 'scss/custom/theme';
@use 'scss/custom/colors' as *;
@use 'scss/custom/fonts' as *;
@use 'scss/bootstrap/bootstrap-grid' as *;
@use 'scss/bootstrap/bootstrap-utilities' as *;

html,
body {
  height: 100vh;
  background-color: $color-dark-blue;

  @media only screen and (max-width: 767px) {
    background-color: $color-dark-blue;
  }
}

body * {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
a {
  color: $color-blue;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.desktop-show {
  display: block;
}

.mobile-show {
  display: none;
}

@media only screen and (max-width: 767px) {
  .desktop-show {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}
